@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");
button.btn,
a.btn {
  all: unset;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
}

button.btn-secondary,
a.btn-secondary {
  border-width: 1px;
  border-style: solid;
}

button.btn-secondary.primary,
a.btn-secondary.primary {
  color: #ff9800;
  border-color: #ff9800;
}

button.btn-secondary.primary:focus,
a.btn-secondary.primary:focus {
  -webkit-box-shadow: 0px 8px 10px rgba(255, 152, 0, 0.32);
          box-shadow: 0px 8px 10px rgba(255, 152, 0, 0.32);
}

button.btn-secondary.disabled,
a.btn-secondary.disabled {
  color: #ececec;
  border-color: #ececec;
}

button.btn-secondary.destructive,
a.btn-secondary.destructive {
  color: #f43636;
  border-color: #f43636;
}

button.btn-secondary.success,
a.btn-secondary.success {
  color: #00bfa6;
  border-color: #00bfa6;
}

button.btn-text,
a.btn-text {
  background: transparent;
}

button.btn-text:focus,
a.btn-text:focus {
  border: 1px solid #ececec;
}

button.btn-text.disabled,
a.btn-text.disabled {
  background: #ececec;
  color: #a9afb8;
}

button.btn-rounded,
a.btn-rounded {
  border-radius: 40px;
}

button.btn-lg,
a.btn-lg {
  font: normal normal 700 20px/32px "Nunito Sans", sans-serif;
  letter-spacing: 0.02em;
  padding: 12px 64px;
}

button.btn-lg.fixed,
a.btn-lg.fixed {
  width: 280px;
  height: 56px;
}

button.btn-md,
a.btn-md {
  font: normal normal 700 16px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.02em;
  padding: 12px 40px;
}

button.btn-md.fixed,
a.btn-md.fixed {
  width: 280px;
  height: 48px;
}

button.btn-sm,
a.btn-sm {
  font: normal normal 700 14px/16px "Nunito Sans", sans-serif;
  letter-spacing: 0.02em;
  padding: 12px 24px;
}

button.btn-primary-color,
a.btn-primary-color {
  background: #ff9800;
  -webkit-box-shadow: 0px 4px 6px rgba(255, 152, 0, 0.24);
          box-shadow: 0px 4px 6px rgba(255, 152, 0, 0.24);
}

button.btn-primary-color:hover, button.btn-primary-color:active, button.btn-primary-color:focus,
a.btn-primary-color:hover,
a.btn-primary-color:active,
a.btn-primary-color:focus {
  -webkit-box-shadow: 0px 8px 10px rgba(255, 152, 0, 0.24);
          box-shadow: 0px 8px 10px rgba(255, 152, 0, 0.24);
}

button.btn-primary-color:hover,
a.btn-primary-color:hover {
  background: #f39100;
}

button.btn-primary-color:active,
a.btn-primary-color:active {
  background: #dd8400;
}

button.btn-disabled-color,
a.btn-disabled-color {
  background: #ececec;
  -webkit-box-shadow: 0px 4px 6px rgba(236, 236, 236, 0.24);
          box-shadow: 0px 4px 6px rgba(236, 236, 236, 0.24);
}

button.btn-neutral-color,
a.btn-neutral-color {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 6px rgba(255, 176, 77, 0.24);
          box-shadow: 0px 4px 6px rgba(255, 176, 77, 0.24);
}

button.btn-neutral-color:hover, button.btn-neutral-color:active, button.btn-neutral-color:focus,
a.btn-neutral-color:hover,
a.btn-neutral-color:active,
a.btn-neutral-color:focus {
  -webkit-box-shadow: 0px 8px 10px white;
          box-shadow: 0px 8px 10px white;
}

button.btn-neutral-color:hover,
a.btn-neutral-color:hover {
  background: #fff5e6;
}

button.btn-neutral-color:active,
a.btn-neutral-color:active {
  background: #ffeacc;
}

button.btn-descructive-color,
a.btn-descructive-color {
  background: #f43636;
  -webkit-box-shadow: 0px 4px 6px rgba(244, 54, 54, 0.24);
          box-shadow: 0px 4px 6px rgba(244, 54, 54, 0.24);
}

button.btn-descructive-color:hover, button.btn-descructive-color:active, button.btn-descructive-color:focus,
a.btn-descructive-color:hover,
a.btn-descructive-color:active,
a.btn-descructive-color:focus {
  -webkit-box-shadow: 0px 8px 10px rgba(244, 54, 54, 0.24);
          box-shadow: 0px 8px 10px rgba(244, 54, 54, 0.24);
}

button.btn-descructive-color:hover,
a.btn-descructive-color:hover {
  background: #e13030;
}

button.btn-descructive-color:active,
a.btn-descructive-color:active {
  background: #c92d2d;
}

button.btn-success-color,
a.btn-success-color {
  background: #00bfa6;
  -webkit-box-shadow: 0 4px 6px rgba(0, 191, 166, 0.24);
          box-shadow: 0 4px 6px rgba(0, 191, 166, 0.24);
}

button.btn-success-color:hover, button.btn-success-color:active, button.btn-success-color:focus,
a.btn-success-color:hover,
a.btn-success-color:active,
a.btn-success-color:focus {
  -webkit-box-shadow: 0 8px 10px rgba(0, 191, 166, 0.24);
          box-shadow: 0 8px 10px rgba(0, 191, 166, 0.24);
}

button.btn-success-color:hover,
a.btn-success-color:hover {
  background: #00ad96;
}

button.btn-success-color:active,
a.btn-success-color:active {
  background: #019b86;
}

button .with-icon-side,
a .with-icon-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button .with-icon-left .icon,
a .with-icon-left .icon {
  float: left;
}

button .with-icon-right .icon,
a .with-icon-right .icon {
  float: right;
}
/*# sourceMappingURL=buttons.css.map */