@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");
.text-color-primary {
  color: #29384e;
}

.text-color-secondary-1 {
  color: #546071;
}

.text-color-secondary-2 {
  color: #a9afb8;
}

.text-disabled {
  color: #a9afb8;
}

.text-primary-blue-1 {
  color: #007dff;
}

.text-primary-blue-2 {
  color: #0057b2;
}

.text-primary-blue-3 {
  color: #e0efff;
}

.text-secondary-1 {
  color: #ff9800;
}

.text-secondary-2 {
  color: #c77700;
}

.text-secondary-3 {
  color: #ffe082;
}

.text-red-1 {
  color: #f44336;
}

.text-red-2 {
  color: #a83232;
}

.text-red-3 {
  color: #fbb2b2;
}

.text-green-1 {
  color: #00bfa6;
}

.text-green-2 {
  color: #00897b;
}

.text-green-3 {
  color: #adebe3;
}

.text-yellow-1 {
  color: #ffc721;
}

.text-yellow-2 {
  color: #ffb547;
}

.text-yellow-3 {
  color: #ffedb8;
}

.text-white {
  color: #ffffff;
}

.bg-primary-blue-1 {
  background-color: #007dff;
}

.bg-primary-blue-2 {
  background-color: #0057b2;
}

.bg-primary-blue-3 {
  background-color: #e0efff;
}

.bg-secondary-1 {
  background-color: #ff9800;
}

.bg-secondary-2 {
  background-color: #c77700;
}

.bg-secondary-3 {
  background-color: #ffe082;
}

.bg-red-1 {
  background-color: #f44336;
}

.bg-red-2 {
  background-color: #a83232;
}

.bg-red-3 {
  background-color: #fbb2b2;
}

.bg-green-1 {
  background-color: #00bfa6;
}

.bg-green-2 {
  background-color: #00897b;
}

.bg-green-3 {
  background-color: #adebe3;
}

.bg-yellow-1 {
  background-color: #ffc721;
}

.bg-yellow-2 {
  background-color: #ffb547;
}

.bg-yellow-3 {
  background-color: #ffedb8;
}

.heading-1 {
  font: normal normal 700 56px/64px "Nunito Sans", sans-serif;
  letter-spacing: 0em;
}

.heading-2 {
  font: normal normal 700 40px/56px "Nunito Sans", sans-serif;
  letter-spacing: -0.02em;
}

.heading-3 {
  font: normal normal 700 32px/42px "Nunito Sans", sans-serif;
  letter-spacing: 0em;
}

.heading-4 {
  font: normal normal 700 28px/36px "Nunito Sans", sans-serif;
  letter-spacing: 0em;
}

.heading-5 {
  font: normal normal 700 24px/32px "Nunito Sans", sans-serif;
  letter-spacing: 0.0025em;
}

.heading-6 {
  font: normal normal 700 20px/26px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

.heading-7 {
  font: normal normal 700 18px/27px "Nunito Sans", sans-serif;
  letter-spacing: 0.02em;
}

.heading-8 {
  font: normal normal 700 16px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.02em;
}

.sub-1 {
  font: normal normal 600 24px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

.sub-2 {
  font: normal normal 600 20px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

.sub-3 {
  font: normal normal 600 18px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

.sub-4 {
  font: normal normal 600 16px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

.sub-5 {
  font: normal normal 600 14px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

.sub-6 {
  font: normal normal 600 12px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

.text-body-1 {
  font: normal normal 400 20px/34px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

.text-body-2 {
  font: normal normal 400 18px/32px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

.text-body-3 {
  font: normal normal 400 16px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

.text-body-4 {
  font: normal normal 400 14px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

.text-body-5 {
  font: normal normal 400 12px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

.text-body-alt-16 {
  font: normal normal 400 16px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.02em;
}

.text-body-alt-14 {
  font: normal normal 400 14px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.02em;
}

.text-body-alt-12 {
  font: normal normal 400 12px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0em;
}

.text-caption-1 {
  font: normal normal 400 14px/16px "Nunito Sans", sans-serif;
  letter-spacing: 0.02em;
}

.text-caption-2 {
  font: normal normal 400 12px/16px "Nunito Sans", sans-serif;
  letter-spacing: 0.02em;
}

.text-overline {
  font: normal normal 700 16px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.04em;
}
/*# sourceMappingURL=style.css.map */