@import "./colors";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");

/* ----------------------- COLORS --------------------------- */
$primary-blue-1: #007dff;
$primary-blue-2: #0057b2;
$primary-blue-3: #e0efff;

$secondary-orange-1: #ff9800;
$secondary-orange-2: #c77700;
$secondary-orange-3: #ffe082;

$border-gray: #c4c4c4;
$divider-gray: #e0e0e0;
$backdrop-gray: #808080;

$red-1: #f44336;
$red-2: #a83232;
$red-3: #fbb2b2;

$green-1: #00bfa6;
$green-2: #00897b;
$green-3: #adebe3;

$yellow-1: #ffc721;
$yellow-2: #ffb547;
$yellow-3: #ffedb8;

$text-color-primary: #29384e;
$text-color-secondary-1: #546071;
$text-color-secondary-2: #a9afb8;
$text-color-disabled: #a9afb8;

$white: #ffffff;
$bg-black: #121212;
$bg-blue-1: #f5faff;
$bg-blue-2: #22273c;

$misc-blue-1: #2199fa;
$misc-blue-2: #94ccf7;
$misc-gray-1: #f3f4f6;
$misc-gradient-blue-1: linear-gradient(
  249.77deg,
  #0094ff -1.99%,
  #007dff 43.52%,
  #026ce8 95.86%
);

$shadow-color-1: rgba(18, 18, 18, 0.8);
$shadow-color-2: rgba(18, 18, 18, 0.64);
$shadow-color-3: rgba(18, 18, 18, 0.32);
$shadow-color-4: rgba(18, 18, 18, 0.18);
$shadow-color-5: rgba(18, 18, 18, 0.12);

.text-color-primary {
  color: $text-color-primary;
}
.text-color-secondary-1 {
  color: $text-color-secondary-1;
}
.text-color-secondary-2 {
  color: $text-color-secondary-2;
}
.text-disabled {
  color: $text-color-disabled;
}

.text-primary-blue-1 {
  color: $primary-blue-1;
}
.text-primary-blue-2 {
  color: $primary-blue-2;
}
.text-primary-blue-3 {
  color: $primary-blue-3;
}
.text-secondary-1 {
  color: $secondary-orange-1;
}
.text-secondary-2 {
  color: $secondary-orange-2;
}
.text-secondary-3 {
  color: $secondary-orange-3;
}
.text-red-1 {
  color: $red-1;
}
.text-red-2 {
  color: $red-2;
}
.text-red-3 {
  color: $red-3;
}
.text-green-1 {
  color: $green-1;
}
.text-green-2 {
  color: $green-2;
}
.text-green-3 {
  color: $green-3;
}
.text-yellow-1 {
  color: $yellow-1;
}
.text-yellow-2 {
  color: $yellow-2;
}
.text-yellow-3 {
  color: $yellow-3;
}
.text-white {
  color: $white;
}

.bg-primary-blue-1 {
  background: $primary-blue-1;
}
.bg-primary-blue-2 {
  background: $primary-blue-2;
}
.bg-primary-blue-3 {
  background: $primary-blue-3;
}
.bg-secondary-1 {
  background: $secondary-orange-1;
}
.bg-secondary-2 {
  background: $secondary-orange-2;
}
.bg-secondary-3 {
  background: $secondary-orange-3;
}
.bg-red-1 {
  background: $red-1;
}
.bg-red-2 {
  background: $red-2;
}
.bg-red-3 {
  background: $red-3;
}
.bg-green-1 {
  background: $green-1;
}
.bg-green-2 {
  background: $green-2;
}
.bg-green-3 {
  background: $green-3;
}
.bg-yellow-1 {
  background: $yellow-1;
}
.bg-yellow-2 {
  background: $yellow-2;
}
.bg-yellow-3 {
  background: $yellow-3;
}

/* ---------------------- CONTAINER ----------------------------*/
.main-container {
  width: 75%;
}

/* ------------------------ FLEX --------------------------------*/
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}

/* --------- FONTS --------------------------*/

@mixin heading-1 {
  font: normal normal 700 56px/64px "Nunito Sans", sans-serif;
  letter-spacing: 0em;
}

@mixin heading-2 {
  font: normal normal 700 40px/56px "Nunito Sans", sans-serif;
  letter-spacing: -0.02em;
}

@mixin heading-3 {
  font: normal normal 700 32px/42px "Nunito Sans", sans-serif;
  letter-spacing: 0em;
}

@mixin heading-4 {
  font: normal normal 700 28px/36px "Nunito Sans", sans-serif;
  letter-spacing: 0em;
}

@mixin heading-5 {
  font: normal normal 700 24px/32px "Nunito Sans", sans-serif;
  letter-spacing: 0.0025em;
}

@mixin heading-6 {
  font: normal normal 700 20px/26px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

@mixin heading-7 {
  font: normal normal 700 18px/27px "Nunito Sans", sans-serif;
  letter-spacing: 0.02em;
}

@mixin heading-8 {
  font: normal normal 700 16px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.02em;
}

@mixin sub-1 {
  font: normal normal 600 24px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

@mixin sub-2 {
  font: normal normal 600 20px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

@mixin sub-3 {
  font: normal normal 600 18px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

@mixin sub-4 {
  font: normal normal 600 16px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

@mixin sub-5 {
  font: normal normal 600 14px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

@mixin sub-6 {
  font: normal normal 600 12px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

@mixin text-body-1 {
  font: normal normal 400 20px/34px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

@mixin text-body-2 {
  font: normal normal 400 18px/32px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

@mixin text-body-3 {
  font: normal normal 400 16px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

@mixin text-body-4 {
  font: normal normal 400 14px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

@mixin text-body-5 {
  font: normal normal 400 12px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

@mixin text-body-alt-16 {
  font: normal normal 400 16px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.02em;
}

@mixin text-body-alt-14 {
  font: normal normal 400 14px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.02em;
}

@mixin text-body-alt-12 {
  font: normal normal 400 12px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0em;
}

@mixin text-caption-1 {
  font: normal normal 400 14px/16px "Nunito Sans", sans-serif;
  letter-spacing: 0.02em;
}

@mixin text-caption-2 {
  font: normal normal 400 12px/16px "Nunito Sans", sans-serif;
  letter-spacing: 0.02em;
}

@mixin text-overline {
  font: normal normal 700 16px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.04em;
}

.heading-1 {
  font: normal normal 700 56px/64px "Nunito Sans", sans-serif;
  letter-spacing: 0em;
}

.heading-2 {
  font: normal normal 700 40px/56px "Nunito Sans", sans-serif;
  letter-spacing: -0.02em;
}

.heading-3 {
  font: normal normal 700 32px/42px "Nunito Sans", sans-serif;
  letter-spacing: 0em;
}

.heading-4 {
  font: normal normal 700 28px/36px "Nunito Sans", sans-serif;
  letter-spacing: 0em;
}

.heading-5 {
  font: normal normal 700 24px/32px "Nunito Sans", sans-serif;
  letter-spacing: 0.0025em;
}

.heading-6 {
  font: normal normal 700 20px/26px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

.heading-7 {
  font: normal normal 700 18px/27px "Nunito Sans", sans-serif;
  letter-spacing: 0.02em;
}

.heading-8 {
  font: normal normal 700 16px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.02em;
}

.sub-1 {
  font: normal normal 600 24px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

.sub-2 {
  font: normal normal 600 20px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

.sub-3 {
  font: normal normal 600 18px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

.sub-4 {
  font: normal normal 600 16px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

.sub-5 {
  font: normal normal 600 14px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

.sub-6 {
  font: normal normal 600 12px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

.text-body-1 {
  font: normal normal 400 20px/34px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

.text-body-2 {
  font: normal normal 400 18px/32px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

.text-body-3 {
  font: normal normal 400 16px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

.text-body-4 {
  font: normal normal 400 14px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

.text-body-5 {
  font: normal normal 400 12px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

.text-body-alt-16 {
  font: normal normal 400 16px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.02em;
}

.text-body-alt-14 {
  font: normal normal 400 14px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.02em;
}

.text-body-alt-12 {
  font: normal normal 400 12px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0em;
}

.text-caption-1 {
  font: normal normal 400 14px/16px "Nunito Sans", sans-serif;
  letter-spacing: 0.02em;
}

.text-caption-2 {
  font: normal normal 400 12px/16px "Nunito Sans", sans-serif;
  letter-spacing: 0.02em;
}

.text-overline {
  font: normal normal 700 16px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.04em;
}

/* COLUMN WIDTH */
.row {
  width: calc(100% + 30px);
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;

  & > [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto {
  position: relative;
  width: 100%;
  margin-right: 30px;
  margin-bottom: 56px;
}

.col-1 {
  -ms-flex: calc(0.08333 - 30px);
  flex: 0 0 calc(8.33333% - 30px);
  max-width: calc(8.33333% - 30px);
}

.col-2 {
  -ms-flex: calc(0.16667 - 30px);
  flex: 0 0 calc(16.66667% - 30px);
  max-width: calc(16.66667% - 30px);
}

.col-3 {
  -ms-flex: calc(0.25 - 30px);
  flex: 0 0 calc(25% - 30px);
  max-width: calc(25% - 30px);
}

.col-4 {
  -ms-flex: calc(0.33333 - 30px);
  flex: 0 0 calc(33.33333% - 30px);
  max-width: calc(33.33333% - 30px);
}

.col-5 {
  -ms-flex: calc(0.41667 - 30px);
  flex: 0 0 calc(41.66667% - 30px);
  max-width: calc(41.66667% - 30px);
}

.col-6 {
  -ms-flex: calc(0.5 - 30px);
  flex: 0 0 calc(50% - 30px);
  max-width: calc(50% - 30px);
}

.col-7 {
  -ms-flex: calc(0.58333 - 30px);
  flex: 0 0 calc(58.333% - 30px);
  max-width: calc(58333% - 30px);
}

.col-8 {
  -ms-flex: calc(0.66667 - 30px);
  flex: 0 0 calc(66.667% - 30px);
  max-width: calc(66667% - 30px);
}

.col-9 {
  -ms-flex: calc(0.75 - 30px);
  flex: 0 0 calc(75% - 30px);
  max-width: calc(75% - 30px);
}

.col-10 {
  -ms-flex: calc(0.83333 - 30px);
  flex: 0 0 calc(83.33333% - 30px);
  max-width: calc(83.33333% - 30px);
}

.col-11 {
  -ms-flex: calc(0.91667 - 30px);
  flex: 0 0 calc(91.66667% - 30px);
  max-width: calc(91.66667% - 30px);
}

.col-12 {
  -ms-flex: 1;
  flex: 0 0 100%;
  max-width: 100%;
}

/* ----------- DISPLAY --------------*/
.d-block {
  display: block !important;
}
.d-inline-block {
  display: inline-block !important;
}
.d-inline {
  display: inline !important;
}

/* ----------- WIDTH -------------------*/
.w-1110 {
  max-width: 1110px;
}

.w-920 {
  max-width: 920px;
}

.w-770 {
  max-width: 770px;
}

.w-100 {
  width: 100%;
}

/* -------------- MARGINS ------------------- */
.cut-by-navbar {
  margin-top: 160px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-16 {
  margin: 16px;
}

.mx-16 {
  margin-left: 16px;
  margin-right: 16px;
}

.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.mt-16 {
  margin-top: 16px;
}
.ml-16 {
  margin-left: 16px;
}
.mr-16 {
  margin-right: 16px;
}
.mb-16 {
  margin-bottom: 16px;
}

.m-16 {
  margin: 16px;
}

.m-24 {
  margin: 24px;
}

.mx-24 {
  margin-left: 24px;
  margin-right: 24px;
}

.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.mt-24 {
  margin-top: 24px;
}
.ml-24 {
  margin-left: 24px;
}
.mr-24 {
  margin-right: 24px;
}
.mb-24 {
  margin-bottom: 24px;
}

.m-32 {
  margin: 32px;
}

.mx-32 {
  margin-left: 32px;
  margin-right: 32px;
}

.my-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.mt-32 {
  margin-top: 32px;
}
.ml-32 {
  margin-left: 32px !important;
}
.mr-32 {
  margin-right: 32px !important;
}
.mb-32 {
  margin-bottom: 32px;
}

.m-36 {
  margin: 36px;
}

.mx-36 {
  margin-left: 36px;
  margin-right: 36px;
}

.my-36 {
  margin-top: 36px;
  margin-bottom: 36px;
}

.mt-36 {
  margin-top: 36px;
}
.ml-36 {
  margin-left: 36px;
}
.mr-36 {
  margin-right: 36px;
}
.mb-36 {
  margin-bottom: 36px;
}

.m-48 {
  margin: 48px;
}

.mx-48 {
  margin-left: 48px;
  margin-right: 48px;
}

.my-48 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.mt-48 {
  margin-top: 48px;
}
.ml-48 {
  margin-left: 48px;
}
.mr-48 {
  margin-right: 48px;
}
.mb-48 {
  margin-bottom: 48px;
}

.m-64 {
  margin: 64px;
}

.mx-64 {
  margin-left: 64px;
  margin-right: 64px;
}

.my-64 {
  margin-top: 64px;
  margin-bottom: 64px;
}

.mt-64 {
  margin-top: 64px;
}
.ml-64 {
  margin-left: 64px;
}
.mr-64 {
  margin-right: 64px;
}
.mb-64 {
  margin-bottom: 64px;
}

.m-80 {
  margin: 80px;
}

.mx-80 {
  margin-left: 80px;
  margin-right: 80px;
}

.my-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.mt-80 {
  margin-top: 80px;
}
.ml-80 {
  margin-left: 80px;
}
.mr-80 {
  margin-right: 80px;
}
.mb-80 {
  margin-bottom: 80px;
}

/* -------------- TEXT ALIGN -------------- */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

/* ---------------- INPUT ----------------- */
form {
  position: relative;
}
input {
  all: unset;
  background: $white;
  color: $text-color-primary;
  padding: 12px 32px;
  border: solid 1px $divider-gray;
  &:focus {
    border: solid 1px $primary-blue-1;
  }

  &[type="search"] {
    display: inline-block;
    position: relative;
    padding: 12px 68px 12px 32px;

    &::-webkit-search-cancel-button {
      position: relative;
      right: -4px;
      -webkit-appearance: none;
      height: 28px;
      width: 28px;
      border-radius: 10px;
      background: url("../assets/icons/close-circle.svg") no-repeat;
    }

    & ~ button {
      all: unset;
      position: absolute;
      top: 56%;
      right: 32px;
      transform: translateY(-50%);
    }
  }

  &.input-rounded {
    border-radius: 40px;
  }
}

/* ------------ CSS RESET ----------------- */
* {
  box-sizing: border-box !important;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  @include text-body-3();
  margin: 0;

  header.homepage {
    background: transparent;
  }
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
/* END CSS RESET */

// DROPDOWN
.dropdown-1 {
  display: none;
  min-width: 160px;
  position: absolute;
  transform: translateX(-50%);
  background: $white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 8px 32px rgba(0, 87, 178, 0.16);

  &::before {
    content: "";
    position: absolute;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 16px solid $white;
  }

  a {
    display: block;
    margin-bottom: 12px;
    padding: 8px 20px;
    border-radius: 8px;
    transition: 0.5s;
    &:hover {
      background: $primary-blue-3;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// NAVBAR & HEADER
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: $white;
  background: $primary-blue-1;
  z-index: 999;

  .main-header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;

    ul {
      display: flex;
      flex-flow: row wrap;

      & > * {
        margin-left: 40px;
      }

      li {
        a {
          position: relative;
          color: $white;
        }
      }
    }

    .right-menu {
      display: flex;
      align-items: center;
      & > * {
        margin-left: 16px;
      }

      .translate {
        position: relative;
        span {
          display: flex;
          align-items: center;
        }

        &:hover .dropdown-1 {
          display: block;
        }

        .dropdown-1 {
          top: 155%;
          left: 40%;

          &::before {
            top: -12%;
            left: 50%;
          }
        }
      }

      .login:hover {
        background: #ff9800;
      }
    }
  }

  nav {
    display: flex;
    justify-content: center;
    padding: 12px 0;

    ul {
      display: flex;

      & > * {
        margin-left: 40px;
      }
      li {
        position: relative;
        span {
          display: flex;
          align-items: center;
        }

        &:hover .dropdown-1 {
          display: block;
        }

        .dropdown-1 {
          top: 155%;
          left: 40%;

          &::before {
            top: -9.5%;
            left: 50%;
          }
        }
      }
    }
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../assets/bg-hero.png") no-repeat center;
  background-size: cover;
  min-height: 626px;
  padding: 96px 0 0 0;
  margin-bottom: 80px;
  color: $white;

  &.invitation {
    text-align: center;
    padding: 0;
    min-height: 400px;
  }

  .container {
    align-items: center;
    h1,
    h2 {
      @include heading-1();
    }

    .change-text {
      height: 77px;
      overflow: hidden;

      @keyframes show {
        0% {
          margin-top: -270px;
        }
        5% {
          margin-top: -180px;
        }
        33% {
          margin-top: -180px;
        }
        38% {
          margin-top: -90px;
        }
        66% {
          margin-top: -90px;
        }
        71% {
          margin-top: 0px;
        }
        99.99% {
          margin-top: 0px;
        }
        100% {
          margin-top: -270px;
        }
      }

      div {
        animation: show 5s linear infinite;
        span {
          display: inline-block;
          margin-bottom: 65px;
        }
      }
    }

    .subtitle {
      margin: 28px auto 42px auto;
      max-width: 826px;
    }

    #flip {
      height: 65px;
      overflow: hidden;
    }

    #flip > div > div {
      color: #fff;
      padding: 5px 12px;
      margin-bottom: 16px;
      display: inline-block;
    }

    #flip div:first-child {
      animation: show 5s linear infinite;
    }

    @keyframes show {
      0% {
        margin-top: -270px;
      }
      5% {
        margin-top: -180px;
      }
      33% {
        margin-top: -180px;
      }
      38% {
        margin-top: -90px;
      }
      66% {
        margin-top: -90px;
      }
      71% {
        margin-top: 0px;
      }
      99.99% {
        margin-top: 0px;
      }
      100% {
        margin-top: -270px;
      }
    }

    form {
      margin-top: 60px;
    }
  }
}

.title-section {
  display: flex;
  align-items: center;

  svg {
    margin-right: 16px;
  }

  h2 {
    @include heading-3();
  }
}

.title-news {
  @include heading-2();
}

/* -------------------------- CARD ------------------------- */
.content-list {
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 48px;
  }
  .text {
    width: calc(75% - 60px);
    margin-right: 60px;

    .content-list-caption {
      margin: 16px 0;
      h3 {
        @include heading-8();

        a {
          color: $text-color-primary;
        }
      }
      p {
        @include text-caption-2();
        margin-top: 8px;
        color: $text-color-secondary-2;
      }
    }

    .content-list-footer {
      @include text-body-5();
      a {
        padding: 2px 16px;
      }

      span {
        position: relative;
        padding-left: 40px;

        &::before {
          content: "";
          width: 4px;
          height: 4px;
          background: $text-color-primary;
          border-radius: 50%;
          display: block;
          position: absolute;
          top: 50%;
          left: 20px;
          transform: translateY(-50%);
        }
      }
    }
  }

  figure {
    width: 25%;
    border-radius: 5px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }
}

.content-row {
  &:not(:nth-child(3n)) {
    margin-right: 30px;
  }

  & > *:not(:first-child) {
    margin-top: 12px;
  }

  figure {
    width: 100%;
    height: 136px;
    border-radius: 5px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  .content-row-caption {
    h3 {
      @include heading-8();
      a {
        color: $text-color-primary;
      }
    }
    p {
      @include text-caption-2();
      margin-top: 8px;
    }
  }
}

/* ------------------------ BANNER --------------------------*/
.banner {
  display: flex;
  align-items: center;
  background: $misc-gradient-blue-1;
  color: $white;
  padding: 36px;
  border-radius: 24px;
  box-shadow: 0px 32px 72px rgba(0, 87, 178, 0.16);

  .text {
    width: calc(55% - 46px);
    margin-right: 46px;
    .title {
      @include heading-5();
    }

    p {
      @include sub-4();
      margin-top: 24px;
    }
  }
}

/* ------------------------ PAGINATION ------------------------ */
.pagination {
  margin-top: 56px;
  display: flex;
  justify-content: center;

  .pagination-item {
    @include sub-4();
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border: solid 1px $divider-gray;
    border-radius: 8px;

    &:not(:last-child) {
      margin-right: 18px;
    }

    &.prev svg path {
      fill: $divider-gray;
    }
    &.active {
      background: $primary-blue-1;
      color: $white;
    }
  }
}

// ------------------------ FOOTER ----------------------------
footer {
  padding: 96px 0;
  background: $bg-blue-2;
  color: $white;

  .container {
    max-width: 1110px;
    width: calc(100% + 100px);
    display: flex;
    margin: 0 auto;

    &.copyright {
      display: flex;
      justify-content: space-between;
      margin-top: 62px;
      padding-top: 32px;
      border-top: solid 1px $text-color-secondary-1;
      @include text-body-4();

      .text {
        max-width: 630px;
      }

      a {
        color: $white;
      }
    }

    & > *:not(:last-child) {
      margin-right: 100px;
    }

    .item {
      width: calc((25% - 100px));
      &:last-child {
        width: 50%;
      }

      div {
        &:not(:last-child) {
          margin-bottom: 32px;
        }
        .title {
          @include heading-8();
          margin-bottom: 16px;
        }

        a {
          @include text-body-4();
          display: block;
          color: $text-color-disabled;

          &:hover {
            color: $white;
          }
          &:not(:last-child) {
            margin-bottom: 8px;
          }
        }
      }

      .row {
        display: flex;
        .item {
          @include text-body-4();
          width: 50%;

          p:not(:last-child),
          .logo {
            margin-bottom: 32px;
          }

          div p:not(:last-child) {
            margin-bottom: 8px;
          }

          .social {
            max-width: 255px;
            display: flex;
            flex-wrap: wrap;
            margin-left: -18px;
            margin-bottom: -18px;
            & > * {
              margin-left: 18px;
              margin-bottom: 18px;
            }

            .social-item {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 48px;
              height: 48px;
              background: $text-color-secondary-1;
              border-radius: 50%;
              cursor: pointer;
            }
          }
        }
      }

      .newsletter {
        p {
          @include heading-8();
        }

        form {
          display: flex;
          input {
            flex-grow: 1;
            margin-right: 12px;
          }
        }
      }
    }
  }
}

/* -------------- ACCORDION ---------------------*/
.accordion {
  &.accordion-border {
    border: solid 1px $divider-gray;
  }

  &.accordion-rounded {
    border-radius: 10px;
  }

  &.accordion-padding {
    padding: 32px;
  }

  .accordion-title {
    @include heading-6();
    margin-bottom: 24px;
  }

  .accordion-item {
    button {
      @include sub-5();
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 16px 0;
      text-align: left;

      &.btn-large {
        @include heading-6();
      }

      svg {
        transition: 0.3s;
      }
    }
    .accordion-content {
      display: none;
      padding-left: 0;

      &.without-padding a {
        padding-left: 0;
      }

      &.show {
        display: block;
      }

      a {
        @include text-body-5();
        display: block;
        padding: 8px 16px;
        color: $text-color-primary;
        &:not(:last-child) {
          margin-bottom: 8px;
        }

        &.active {
          font: normal normal 700 12px/24px "Nunito Sans", sans-serif;
          letter-spacing: 0.02em;
          color: $primary-blue-1;
        }
      }

      .accordion-subcontent {
        padding: 0 16px;
      }
    }
  }
}

/* ---------------- ASIDE --------------------- */
aside {
  position: relative;
  width: calc(25% - 30px);

  .sticky {
    &.scroll {
      position: fixed;
      top: 160px;
    }

    &.absolute {
      position: absolute;
      bottom: 0;
    }
  }
}

/* ---------------------NAME TAG---------------------- */
.name-tag {
  display: flex;
  align-items: center;

  a {
    @include text-body-5();
    color: $text-color-primary;
    &.name {
      margin-left: 12px;
    }

    figure {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }

  .info {
    @include text-body-5();
    position: relative;
    padding-left: 20px;
    color: $text-color-secondary-1;

    &::before {
      content: "";
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: $text-color-secondary-1;
      display: block;
      position: absolute;
      top: 50%;
      left: 8px;
      transform: translateY(-50%);
    }
  }
}

/* ------------------ BREADCRUMB ------------------- */
.breadcrumb {
  a,
  span {
    @include text-body-5();
    display: inline-block;
    position: relative;

    &:not(:first-child) {
      padding-left: 20px;
      &::after {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        background: url("../assets/icons/next.svg");
        background-size: cover;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }
}

/* -------------------- DETAIL ARTICLE ---------------*/
.detail-article {
  h1 {
    @include heading-2();
  }

  h2,
  h3 {
    @include heading-4();
  }

  figure {
    max-width: 100%;
    margin: 36px 0;
    border-radius: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  article {
    & > *:not(:last-child) {
      margin-bottom: 36px;
    }
    p {
      @include text-body-2();
    }

    ul {
      @include heading-7();
      list-style: disc;
      padding-inline-start: 18px;
    }

    a {
      color: $primary-blue-1;
    }
  }
}

/* --------------------- BUTTON LIKE SHARE COMMENT ----------- */
.like-share-comment {
  display: flex;
  button {
    all: unset;
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-right: 24px;
    }

    svg {
      margin-right: 12px;
    }
  }
}

/* ---------------------- TAG -------------------------------- */
.tag {
  &.with-info {
    span {
      position: relative;
      padding-inline-start: 20px;
      &::before {
        content: "";
        width: 4px;
        height: 4px;
        background: $text-color-primary;
        display: block;
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        border-radius: 50%;
      }
    }
  }

  @include text-body-5();

  a {
    padding: 2px 16px;
    background: $primary-blue-3;
    color: $primary-blue-1;

    &:hover {
      color: $white;
      background-color: $primary-blue-3;
    }
  }
}
