@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");
/* ----------------------- COLORS --------------------------- */
.text-color-primary {
  color: #29384e;
}

.text-color-secondary-1 {
  color: #546071;
}

.text-color-secondary-2 {
  color: #a9afb8;
}

.text-disabled {
  color: #a9afb8;
}

.text-primary-blue-1 {
  color: #007dff;
}

.text-primary-blue-2 {
  color: #0057b2;
}

.text-primary-blue-3 {
  color: #e0efff;
}

.text-secondary-1 {
  color: #ff9800;
}

.text-secondary-2 {
  color: #c77700;
}

.text-secondary-3 {
  color: #ffe082;
}

.text-red-1 {
  color: #f44336;
}

.text-red-2 {
  color: #a83232;
}

.text-red-3 {
  color: #fbb2b2;
}

.text-green-1 {
  color: #00bfa6;
}

.text-green-2 {
  color: #00897b;
}

.text-green-3 {
  color: #adebe3;
}

.text-yellow-1 {
  color: #ffc721;
}

.text-yellow-2 {
  color: #ffb547;
}

.text-yellow-3 {
  color: #ffedb8;
}

.text-white {
  color: #ffffff;
}

.bg-primary-blue-1 {
  background: #007dff;
}

.bg-primary-blue-2 {
  background: #0057b2;
}

.bg-primary-blue-3 {
  background: #e0efff;
}

.bg-secondary-1 {
  background: #ff9800;
}

.bg-secondary-2 {
  background: #c77700;
}

.bg-secondary-3 {
  background: #ffe082;
}

.bg-red-1 {
  background: #f44336;
}

.bg-red-2 {
  background: #a83232;
}

.bg-red-3 {
  background: #fbb2b2;
}

.bg-green-1 {
  background: #00bfa6;
}

.bg-green-2 {
  background: #00897b;
}

.bg-green-3 {
  background: #adebe3;
}

.bg-yellow-1 {
  background: #ffc721;
}

.bg-yellow-2 {
  background: #ffb547;
}

.bg-yellow-3 {
  background: #ffedb8;
}

/* ---------------------- CONTAINER ----------------------------*/
.main-container {
  width: 75%;
}

/* ------------------------ FLEX --------------------------------*/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* --------- FONTS --------------------------*/
/* ----------- WIDTH -------------------*/
.w-1110 {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.w-770 {
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
}

.w-100 {
  width: 100%;
}

/* -------------- MARGINS ------------------- */
.cut-by-navbar {
  margin-top: 160px;
}

.m-16 {
  margin: 16px;
}

.mx-16 {
  margin-left: 16px;
  margin-right: 16px;
}

.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.ml-16 {
  margin-left: 16px;
}

.mr-16 {
  margin-right: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.m-16 {
  margin: 16px;
}

.m-24 {
  margin: 24px;
}

.mx-24 {
  margin-left: 24px;
  margin-right: 24px;
}

.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.mt-24 {
  margin-top: 24px;
}

.ml-24 {
  margin-left: 24px;
}

.mr-24 {
  margin-right: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

.m-32 {
  margin: 32px;
}

.mx-32 {
  margin-left: 32px;
  margin-right: 32px;
}

.my-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.mt-32 {
  margin-top: 32px;
}

.ml-32 {
  margin-left: 32px;
}

.mr-32 {
  margin-right: 32px;
}

.mb-32 {
  margin-bottom: 32px;
}

.m-36 {
  margin: 36px;
}

.mx-36 {
  margin-left: 36px;
  margin-right: 36px;
}

.my-36 {
  margin-top: 36px;
  margin-bottom: 36px;
}

.mt-36 {
  margin-top: 36px;
}

.ml-36 {
  margin-left: 36px;
}

.mr-36 {
  margin-right: 36px;
}

.mb-36 {
  margin-bottom: 36px;
}

.m-48 {
  margin: 48px;
}

.mx-48 {
  margin-left: 48px;
  margin-right: 48px;
}

.my-48 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.mt-48 {
  margin-top: 48px;
}

.ml-48 {
  margin-left: 48px;
}

.mr-48 {
  margin-right: 48px;
}

.mb-48 {
  margin-bottom: 48px;
}

.m-64 {
  margin: 64px;
}

.mx-64 {
  margin-left: 64px;
  margin-right: 64px;
}

.my-64 {
  margin-top: 64px;
  margin-bottom: 64px;
}

.mt-64 {
  margin-top: 64px;
}

.ml-64 {
  margin-left: 64px;
}

.mr-64 {
  margin-right: 64px;
}

.mb-64 {
  margin-bottom: 64px;
}

.m-80 {
  margin: 80px;
}

.mx-80 {
  margin-left: 80px;
  margin-right: 80px;
}

.my-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.ml-80 {
  margin-left: 80px;
}

.mr-80 {
  margin-right: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

/* -------------- TEXT ALIGN -------------- */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* ---------------- INPUT ----------------- */
form {
  position: relative;
}

input {
  all: unset;
  background: #ffffff;
  color: #29384e;
  padding: 12px 32px;
  border: solid 1px #e0e0e0;
}

input:focus {
  border: solid 1px #007dff;
}

input[type="search"] {
  display: inline-block;
  position: relative;
  padding: 12px 68px 12px 32px;
}

input[type="search"]::-webkit-search-cancel-button {
  position: relative;
  right: -4px;
  -webkit-appearance: none;
  height: 28px;
  width: 28px;
  border-radius: 10px;
  background: url("../assets/icons/close-circle.svg") no-repeat;
}

input[type="search"] ~ button {
  all: unset;
  position: absolute;
  top: 56%;
  right: 32px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

input.input-rounded {
  border-radius: 40px;
}

/* ------------ CSS RESET ----------------- */
* {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font: normal normal 400 16px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
  margin: 0;
}

body header.homepage {
  background: transparent;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/* END CSS RESET */
.dropdown-1 {
  display: none;
  min-width: 160px;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #ffffff;
  padding: 10px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 8px 32px rgba(0, 87, 178, 0.16);
          box-shadow: 0px 8px 32px rgba(0, 87, 178, 0.16);
}

.dropdown-1::before {
  content: "";
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 16px solid #ffffff;
}

.dropdown-1 a {
  display: block;
  margin-bottom: 12px;
  padding: 8px 20px;
  border-radius: 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dropdown-1 a:hover {
  background: #e0efff;
}

.dropdown-1 a:last-child {
  margin-bottom: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #ffffff;
  background: #007dff;
  z-index: 999;
}

header .main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 40px;
}

header .main-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

header .main-header ul > * {
  margin-left: 40px;
}

header .main-header ul li a {
  position: relative;
  color: #ffffff;
}

header .main-header .right-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .main-header .right-menu > * {
  margin-left: 16px;
}

header .main-header .right-menu .translate {
  position: relative;
}

header .main-header .right-menu .translate span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .main-header .right-menu .translate:hover .dropdown-1 {
  display: block;
}

header .main-header .right-menu .translate .dropdown-1 {
  top: 155%;
  left: 40%;
}

header .main-header .right-menu .translate .dropdown-1::before {
  top: -12%;
  left: 50%;
}

header .main-header .right-menu .login:hover {
  background: #ff9800;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 0;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul > * {
  margin-left: 40px;
}

header nav ul li {
  position: relative;
}

header nav ul li span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li:hover .dropdown-1 {
  display: block;
}

header nav ul li .dropdown-1 {
  top: 155%;
  left: 40%;
}

header nav ul li .dropdown-1::before {
  top: -9.5%;
  left: 50%;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../assets/bg-hero.png") no-repeat center;
  background-size: cover;
  min-height: 626px;
  padding: 96px 0 0 0;
  margin-bottom: 80px;
  color: #ffffff;
}

.hero.invitation {
  text-align: center;
  margin: 80px 0 0 0;
  padding: 0;
  min-height: 400px;
}

.hero .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .container h1,
.hero .container h2 {
  font: normal normal 700 56px/64px "Nunito Sans", sans-serif;
  letter-spacing: 0em;
}

.hero .container .change-text {
  height: 77px;
  overflow: hidden;
}

@-webkit-keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

.hero .container .change-text div {
  -webkit-animation: show 5s linear infinite;
          animation: show 5s linear infinite;
}

.hero .container .change-text div span {
  display: inline-block;
  margin-bottom: 65px;
}

.hero .container .subtitle {
  margin: 28px auto 42px auto;
  max-width: 826px;
}

.hero .container #flip {
  height: 65px;
  overflow: hidden;
}

.hero .container #flip > div > div {
  color: #fff;
  padding: 5px 12px;
  margin-bottom: 16px;
  display: inline-block;
}

.hero .container #flip div:first-child {
  -webkit-animation: show 5s linear infinite;
          animation: show 5s linear infinite;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

.hero .container form {
  margin-top: 60px;
}

.title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-section svg {
  margin-right: 16px;
}

.title-section h2 {
  font: normal normal 700 32px/42px "Nunito Sans", sans-serif;
  letter-spacing: 0em;
}

/* ------------------------ CARD CONTAINER ---------------- */
.content-row-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -56px;
}

/* -------------------------- CARD ------------------------- */
.content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-list:not(:last-child) {
  margin-bottom: 48px;
}

.content-list .text {
  width: calc(75% - 60px);
  margin-right: 60px;
}

.content-list .text .content-list-caption {
  margin: 16px 0;
}

.content-list .text .content-list-caption h3 {
  font: normal normal 700 16px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.02em;
}

.content-list .text .content-list-caption h3 a {
  color: #29384e;
}

.content-list .text .content-list-caption p {
  font: normal normal 400 12px/16px "Nunito Sans", sans-serif;
  letter-spacing: 0.02em;
  margin-top: 8px;
  color: #a9afb8;
}

.content-list .text .content-list-footer {
  font: normal normal 400 12px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

.content-list .text .content-list-footer a {
  padding: 2px 16px;
}

.content-list .text .content-list-footer span {
  position: relative;
  padding-left: 40px;
}

.content-list .text .content-list-footer span::before {
  content: "";
  width: 4px;
  height: 4px;
  background: #29384e;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.content-list figure {
  width: 25%;
  border-radius: 5px;
}

.content-list figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.content-row {
  width: calc((100% / 3) - 30px);
  margin-bottom: 56px;
}

.content-row:not(:nth-child(3n)) {
  margin-right: 30px;
}

.content-row > *:not(:first-child) {
  margin-top: 12px;
}

.content-row figure {
  width: 100%;
  height: 136px;
  border-radius: 5px;
}

.content-row figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.content-row .content-row-caption h3 {
  font: normal normal 700 16px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.02em;
}

.content-row .content-row-caption h3 a {
  color: #29384e;
}

.content-row .content-row-caption p {
  font: normal normal 400 12px/16px "Nunito Sans", sans-serif;
  letter-spacing: 0.02em;
  margin-top: 8px;
}

.content-row .content-row-footer {
  font: normal normal 400 12px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

.content-row .content-row-footer a {
  padding: 2px 16px;
}

.content-row .content-row-footer span {
  position: relative;
  padding-left: 40px;
}

.content-row .content-row-footer span::before {
  content: "";
  width: 4px;
  height: 4px;
  background: #29384e;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* ---------------------------- MORE BUTTON -------------------- */
.more {
  margin-top: 36px;
  text-align: center;
}

.more a {
  font: normal normal 700 16px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.02em;
  padding: 12px 40px;
  color: #007dff;
  border-radius: 40px;
}

.more a:hover {
  background: #f2f2f2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.more a:active {
  background: #ededed;
}

/* ------------------------ BANNER --------------------------*/
.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(249.77deg, #0094ff -1.99%, #007dff 43.52%, #026ce8 95.86%);
  color: #ffffff;
  padding: 36px;
  border-radius: 24px;
  -webkit-box-shadow: 0px 32px 72px rgba(0, 87, 178, 0.16);
          box-shadow: 0px 32px 72px rgba(0, 87, 178, 0.16);
}

.banner .text {
  width: calc(55% - 46px);
  margin-right: 46px;
}

.banner .text .title {
  font: normal normal 700 24px/32px "Nunito Sans", sans-serif;
  letter-spacing: 0.0025em;
}

.banner .text p {
  font: normal normal 600 16px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
  margin-top: 24px;
}

/* ------------------------ PAGINATION ------------------------ */
.pagination {
  margin-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination .pagination-item {
  font: normal normal 600 16px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 54px;
  height: 54px;
  border: solid 1px #e0e0e0;
  border-radius: 8px;
}

.pagination .pagination-item:not(:last-child) {
  margin-right: 18px;
}

.pagination .pagination-item.prev svg path {
  fill: #e0e0e0;
}

.pagination .pagination-item.active {
  background: #007dff;
  color: #ffffff;
}

footer {
  padding: 96px 0;
  background: #22273c;
  color: #ffffff;
}

footer .container {
  max-width: 1110px;
  width: calc(100% + 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

footer .container.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 62px;
  padding-top: 32px;
  border-top: solid 1px #546071;
  font: normal normal 400 14px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
}

footer .container.copyright .text {
  max-width: 630px;
}

footer .container.copyright a {
  color: #ffffff;
}

footer .container > *:not(:last-child) {
  margin-right: 100px;
}

footer .container .item {
  width: calc((25% - 100px));
}

footer .container .item:last-child {
  width: 50%;
}

footer .container .item div:not(:last-child) {
  margin-bottom: 32px;
}

footer .container .item div .title {
  font: normal normal 700 16px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

footer .container .item div a {
  font: normal normal 400 14px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
  display: block;
  color: #a9afb8;
}

footer .container .item div a:hover {
  color: #ffffff;
}

footer .container .item div a:not(:last-child) {
  margin-bottom: 8px;
}

footer .container .item .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container .item .row .item {
  font: normal normal 400 14px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
  width: 50%;
}

footer .container .item .row .item p:not(:last-child),
footer .container .item .row .item .logo {
  margin-bottom: 32px;
}

footer .container .item .row .item div p:not(:last-child) {
  margin-bottom: 8px;
}

footer .container .item .row .item .social {
  max-width: 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -18px;
  margin-bottom: -18px;
}

footer .container .item .row .item .social > * {
  margin-left: 18px;
  margin-bottom: 18px;
}

footer .container .item .row .item .social .social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  background: #546071;
  border-radius: 50%;
  cursor: pointer;
}

footer .container .item .newsletter p {
  font: normal normal 700 16px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.02em;
}

footer .container .item .newsletter form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container .item .newsletter form input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 12px;
}

/* -------------- ACCORDION ---------------------*/
.accordion .accordion-title {
  font: normal normal 700 20px/26px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
  margin-bottom: 24px;
}

.accordion .accordion-item button {
  font: normal normal 600 14px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 0;
}

.accordion .accordion-item button svg {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.accordion .accordion-item .accordion-content {
  display: none;
  padding-left: 16px;
}

.accordion .accordion-item .accordion-content.show {
  display: block;
}

.accordion .accordion-item .accordion-content a {
  font: normal normal 400 12px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
  display: block;
  color: #29384e;
}

.accordion .accordion-item .accordion-content a:not(:last-child) {
  margin-bottom: 8px;
}

/* ---------------- ASIDE --------------------- */
aside {
  position: relative;
  width: calc(25% - 30px);
  margin-left: 30px !important;
}

aside .sticky.scroll {
  position: fixed;
  top: 180px;
}

aside .sticky.absolute {
  position: absolute;
  bottom: 0;
}

/* ---------------------NAME TAG---------------------- */
.name-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.name-tag a {
  font: normal normal 400 12px/24px "Nunito Sans", sans-serif;
  letter-spacing: 0.005em;
  color: #29384e;
}

.name-tag a:last-child {
  margin-left: 12px;
}

.name-tag a figure {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.name-tag a figure img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */